<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Patient</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

    <h1>Patient Details</h1>

    <div>
        <p>Firstname : <span th:text="*{patient.firstname}"></span></p>
        <p>Lastname : <span th:text="*{patient.lastname}"></span></p>
        <p>Sex : <span th:text="*{patient.sex}"></span></p>
        <p>Birthdate : <span th:text="*{patient.birthdate}"></span></p>
        <p>Address : <span th:text="*{patient.address}"></span></p>
        <p>Phone : <span th:text="*{patient.phone}"></span></p>
    </div>

</body>
</html>