<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Patient List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}" />
</head>
<body>

    <h1>Patient List</h1>

    <table>
        <thead>
        <tr>
            <th>firstname</th>
            <th>Lastname</th>
            <th>Doctor</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.firstname}"></td>
            <td th:text="${patient.lastname}"></td>
            <td th:text="${patient.doctor}"></td>
            <td style="width: 15%" class="text-center">
                <a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|
                <a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>