<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Patient</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

    <h1>Update Patient information's</h1>

    <form action="#" th:action="@{/updatePatient}" th:object="PatientBean">
        <p><label for="firstname">Firstname :</label>
            <input type="text" th:field="firstname" id="firstname" th:placeholder="Firstname" th:value="*{firstname}" required></p>
        <p class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
        <p><label for="lastname">Lastname :</label>
            <input type="text" th:field="lastname" id="lastname" th:placeholder="Lastname" th:value="*{lastname}" required></p>
        <p class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
        <p><label for="birthdate">Birthdate :</label>
            <input type="date" th:field="birthdate" id="birthdate" th:value="*{birthdate}" required></p>
        <p class="text-danger" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
        <p><label for="sex">Sex :</label>
            <input type="text" th:field="sex" id="sex" th:placeholder="Sex" th:value="*{sex}" required></p>
        <p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
        <p><label for="address">Address :</label>
            <input type="text" th:field="address" id="address" th:placeholder="Address" th:value="*{phone}"></p>
        <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
        <p><label for="phone">Phone :</label>
            <input type="text" th:field="phone" id="phone" th:placeholder="Phone" th:value="*{phone}"></p>
        <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
        <p><button th:href="@{/patientList}">Return</button> &nbsp; <input type="submit" value="Add"></p>
    </form>

</body>
</html>