*{
    box-sizing: border-box;
}

html{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.space {
    line-height: 3;
}

h1{
    position: relative;
    font-size: 70px;
    text-align: center;
    color: #0076BA;

}

.oneCard{
    justify-content: center!important;
}

.card{
    box-shadow: 0 0 6px darkgrey;
    border-radius: 5px;
    text-align: center;
    border: none;
    padding: 8px;
    background-color: #FFF;
    min-width: 155px;
}



.authForms{
    transform: translateY(70%);
}


.separator{
    border-left: 2px solid grey;
    width: 1px;
    height: auto;
}

input[type="text"], input[type="password"]{
    width: 80%;
    box-shadow: 0 0 4px darkgrey;
    border-radius: 3px;
    padding: 5px 10px;
    border:none;
    margin: 6px 0;
}
input[type="submit"]{
    background-color: #0076BA;
    color:#FFFFFF;
    padding: 5px 15px;
    margin: 6px 0;
    border:none;
    font-size:22px;
    border-radius: 4px;
}

.button_add_patient{
    background-color: lightgreen;
    color:#FFFFFF;
    padding: 5px 15px;
    margin: 6px 0;
    border:none;
    font-size:22px;
    border-radius: 4px;
    text-decoration: none;
}

.text-danger{
    color: red;
}

table{
    width: 100%;
}

table thead tr{
    background-color: #63abb2;
    color: #FFFFFF;
}

table thead tr th{
    padding: 8px;
}

table tbody tr:nth-child(odd) {
    background-color: #d7d7d7;
}

table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

table tr td{
    text-align: center;
    border: 0.25px solid grey;
    padding: 6px;
}
.td-action{
    width: 20%;
}
.td-action a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    padding: 2px 5px;
}

/* Notes */

.notes{
    margin-left:15px;
}

.td-note{
    width: 33%;
}

.form_note{
    width: 80%;
    margin: 0 auto;
}

.form_note textarea{
    width: 100%;
    margin: 0 auto;
    padding: 4px;
}
